* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

span {
    color: #eee;
    font: bolder 26px Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    position: absolute;
    z-index: 99;
}

.box {
    width: 400px;
    height: 60px;
    border-radius: 30px;
    background: no-repeat linear-gradient(125deg, #468, #684, #868, #d64);
    background-size: 400%;
    animation: bgAnimation 15s infinite;
}


@keyframes bgAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}