* {
    margin: 0;
    padding: 0;
}

ul,
li {
    list-style: none;
}

body>ul {
    margin: 50px 70px;
    position: relative;
}

body>ul>li>ul {
    display: none;
    background: #fff;
}

body>ul>li>span {
    width: 80px;
    display: block;
    padding: 8px 12px;
    background: #aaa;
    border-radius: 50vh;
    text-align: center;
    color: #fff;
    font-weight: bolder;
}

body>ul>li {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
body>ul>li:nth-child(1) {
    left: 0px;
}
body>ul>li:nth-child(2) {
    left: 120px;
}
body>ul>li:nth-child(3) {
    left: 240px;
}
body>ul>li:nth-child(4) {
    left: 360px;
}

body>ul>li:hover>ul {
    padding: 5px 8px;
    display: block;
    background: #ddd;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
